/* common */
@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('../fonts/Monaco.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Monaco', sans-serif;
	font-size: 20px;
}

.blue_btn button {
	margin: 0 20px;
	font-size: 15px;
	font-weight: 700;
	color: #E2F1F8;
	padding: 9px 25px;
	background: #1B3039;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.blue_btn button:hover {
	background-color: #1B3039;
	color: #FFBC0E;
	transform: scale(1.1);
}

.blue_container {
    margin: 24px;
    border-radius: 24px;
    background-color: #1B3039;
    padding: 12px;
}

body {
	background: #FFF59D;
	padding-bottom: 50px;
}

.btn button {
	margin: 0 20px;
	font-size: 15px;
	font-weight: 700;
	color: #1B3039;
	padding: 9px 25px;
	background: #ECEFF1;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.btn button:hover {
	background-color: #E2F1F8;
	color: #FFBC0E;
	transform: scale(1.1);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1B3039;
	text-align: right;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_logo {
	height: 30px;
	width: auto;
	margin-left: 10px;
}

.footer p {
	color: #ECEFF1;
	font-size: 15px;
	text-decoration: none;
	margin: 0;
}

.header {
	background-color: #1B3039;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 85px;
	padding: 5px 10%;
}

.header .logo {
	cursor: pointer;
	margin-right: auto;
}

.header .logo img {
	height: 70px;
	width: auto;
	transition: all 0.3s;
}

.header .logo img:hover {
	transform: scale(1.2);
}

.main_container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 5px;
}

.vertical_list {
	text-align: center;
}

.vertical_list a {
	display: block;
	padding: 12px;
}

.white_container {
    margin: 24px;
    border-radius: 24px;
    background-color: #E2F1F8;
    padding: 12px;
}
